#cryingcatjpeg {
    margin: 0 auto;
    padding: 15px;
  }
  
  #cryingcatjpeg table {
    background-color: #ffffff;
    margin: 0 auto;
  }
  
  #cryingcatjpeg table tr td {
    padding: 15px;
  }
  
  #cryingcatjpeg .webring-prev {
    text-align:right;
  }
  
  #cryingcatjpeg .webring-info {
     text-align:center;
     color: black;
  }
  
  #cryingcatjpeg .webring-next {
    text-align:left;
  }
  
  #cryingcatjpeg .webring-links {
    font-size:small;
  }
  
