@import url(main.css);

.bg-image {background-image: url("/assets/images/main.webp");}

img {
    max-width: 80%;
    min-width: 15vw;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    line-height: calc(1.2rem + 1.2vw);
}