body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 310;
    font-style: normal;
    color: var(--txt-color) !important;
}

a {
    display: block; 
    text-decoration: underline red wavy 1px; 
    line-height: 3.5vh;
    color: white;
}