@import url(main.css);

#c_container {
    margin-top: 10px;
    border: none;
}
.c-input:focus {
    border: 2px solid pink;
}
#c_submitButton {
    display: block;
}
#c_replyingText {
    color: #5e2c49;
}
.c-reply:last-child {
    margin-bottom: 0;
}
label {
    display: block;
}

#c_widget {
    box-sizing: border-box;
    height: 100%;
    padding: 15px;
    overflow: auto;
    font-family: "Trebuchet MS";
    font-size: 14px;
    color: #211f24;
    border: none;
}

#c_widget button,
#c_widget input[type="submit"] {
    padding: 4px;
    text-decoration: none;
    text-transform: lowercase;
    text-align: center;
    background-color: white;
    color: pink;
    margin: auto;
    border-radius: 4px;
}
#c_widget button:hover,
#c_widget input[type="submit"]:hover {
    background-color: pink;
}
#c_widget button:disabled,
#c_widget input[type="submit"]:disabled {
    opacity: 60%;
}
#c_widget button:disabled:hover,
#c_widget input[type="submit"]:disabled:hover {
    background-color: white;
    color: pink;
}

#c_inputDiv {
    padding: 10px;
    text-transform: lowercase;
    border: none;
    color: white;
}

#c_widgetTitle {
    margin: 0;
    padding: 0;
}

.c-inputWrapper {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}
.c-input {
    padding: 4px;
    border-radius: 4px;
    outline: none;
    background-color: #1f1d2e;
    border: var(--bdr-wdth) solid var(--line-clr);
    color: var(--txt-clr)
    
}

.c-textInput {
    width: calc(100% - 10px);
    max-width: 900px;
    resize: none;
}

.c-comment {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    border: none;
}
.c-reply {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px dashed pink;
    border-radius: 4px;
}

.c-name {
    display: flex;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    text-decoration: underline;
}
.c-site {
    text-transform: lowercase;
    color: pink;
    display: flex;
    margin: 0;
    margin-right: 10px;
}
.c-site:hover {
    color: pink;
}
.c-timestamp {
    float: right;
    opacity: 60%;
}
.c-text {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-align: justify;
}

#c_pagination {
    text-align: center;
    border: none;
}
.c-replyButton {
    display: none;
}
.c-expandButton {
    float: right;
    margin-top: 10px;
}
.c-paginationButton {
    margin-right: 4px;
    margin-left: 4px;
}