body {
    font-family: Comic Sans MS;
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 2rem;
}

@font-face {
    font-family: "notepad";
    src: url("/assets/fonts/Notepen.woff") format('woff');
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35vw;
}

.poll {
    position: relative;
    top: 15vh;
    float: right;
}

p {
    font-size: 1rem;
}

a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.updates {
    display: inline-block;
    border: 5px solid grey;
    max-width: 20%;
    margin: 0 auto;
    float: right;
    position: relative;
    top: -15vh;
    left: 10vw;
    background-image: url("/assets/images/updates.gif")
}

.updates > p {
    font-size: 1rem;
}

.updates > a {
    font-size: 1rem;
}

.updates > pre {
    font-family: Comic Sans MS;
    font-size: 1rem;
}

.splash-text {
    position: relative;
    top: 10vh;
    left: 37vw;
}
