@import url('main.css');

.main {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

button {
    background-color: transparent;
    color: var(--txt-color);
    border: none;
    font-size: 24px;
    text-decoration: underline;
    cursor: pointer;
}