@layer base, utils, components;
@import url("tui.css");
@import url("plugins/theme.css");
@import url("plugins/font.css");

p, h1, h2 {line-height: 2rem;}
h1, h2 {font-family: terminal;}
h1, .title {font-size: 2rem;}
.title {text-decoration: none;}

span {
    background-color: var(--background0);
    padding: 0 1ch;
}

a {
    color: var(--foreground0); 
    text-decoration: none; 
    text-decoration: underline wavy 1px #d20f39
}

.header { 
    display: flex;
    justify-content: space-between; 
}

.main {
    text-align: center;
    font-family: terminal;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
}