@import url('config.css');

html {
    color: var(--txt-color);
    background-color: var(--bkg-color);
    font-family: monospace;
    text-align: center;
    width: var(--web-width);
    padding-left:  calc(var(--web-width) * 0.5);
}

a {
    text-decoration: underline;
    color: var(--txt-color);
}

i {
    font-family: "Times New Roman", Times, serif;
}

.title {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-decoration: none;
}