@import url(vars.css);
@import url(fonts.css);

html, body{
    background-image: url(/assets/img/main.webp);
    background-size: cover;
}

main {
    color: var(--text-clr);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 65vh;
    overflow: scroll;
    text-align: center;
    background-color: var(--bkg-clr);
    border: var(--border-clr) 6px double;
    padding: 2rem;
}
