.wrapper {
    display: flex;
}

ul {
    list-style-type: none;
}

main {
    flex: 1;
}

@media screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }
    nav {
        width: 100% !important;
    }
}

iframe {
    height: 100vh;
    border: none;
}   