body {
    font-family: Comic Sans MS;
    color: white;
}

img {
  width: 403px;
  height: 302px;
  max-width: 100%;
  height: auto;
}

section {
  padding: 10px;
  border: 5px solid grey;
  max-width: 30vw;
}
