body {
    background-image: url("/assets/images/tiled-bg.gif");
    font-family: notepad;
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "notepad";
    src: url("/assets/fonts/Notepen.woff") format('woff');
}

a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.sidebar {
    background-image: url("/assets/images/sidebar.gif");
    width: 15%;
    height: 100vw;
    color: white;
    padding: 10px 0px;
    float: left;
}

.sidebar > a {
    padding: 10px;
}

.sidebar > a:hover {
    color: grey;
    font-size: 40px;
}

.sidebar > h2 {
    padding: 10px;
    font-size: 2.5rem;
}

iframe {
    float: right;
    border: none;
    width: 85vw;
    height: 100vh;
}


p {
    font-size: 2rem;
}

h3 {
    font-size: 2.5rem;
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
