body {
    background-image: url("/assets/images/b1.gif");
    font-family: notepad;
    color: white;
}

body,html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

@font-face {
    font-family: "notepad";
    src: url("/assets/fonts/Notepen.woff") format('woff');
}

h1 {
    text-align: right;
    font-size: 3rem;
}

a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.sidebar {
    background-color: black;
    width: 15%;
    height: 100vw;
    color: white;
}