:root {
    --header-image: url("/assets/images/webspace.png");
    --body-bg-image: #382d2c;
}

body {
    font-family: serif;
    margin: 0;
    background-color: #382d2c;
    background-size: 65px;
    color: #ffdab9;
}

* {
    box-sizing: border-box;
}

#container {
    max-width: 900px;
    margin: 0 auto;
}

#container a {
    color: #ffdab9;
    font-weight: bold;
}

#header {
    width: 100%;
    background-color: #50403f;
    height: 150px;
    background-image: var(--header-image);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 
}

#flex {
    display: flex;
}

aside {
    background-color: #2d2525;
    width: 200px;
    padding: 20px;
    font-size: smaller;
}

main {
    background-color: #3f3535;
    flex: 1;
    padding: 20px;
    order: 2;
}

#leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}

footer {
    background-color: #221c1b;
    margin: auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    text-align: center;
}

h1, h2, h3 {
        color: #b89d86;
}

h1 {
    font-size: 25px;
}

img {
    max-width: 100%;
}

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #rightSidebar {
        order: 3;
    }
}
