body {
    background-image: url("images/background.gif");
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

html, body {
        cursor: url('images/cursor.png'), auto;	
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-size: 1.1rem;
    color: grey;
    cursor: url('images/hover.png'), auto;	
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    text-align: left;
    flex-direction: row;
}

li {
    padding: 1vw;
}

nav {
    text-align: center;
}

@media screen and (max-width: 600px) {
    ul {
        flex-direction: column;
    }
} 

div {
    display: inline-block;
}

.sidebar-1 {
    background-color: white;
    float: left;
    width: 15%;
    height: 100%;
    color: black;
}

.gifoftheweek {
    background-color: grey;
    width: 20%;
    padding: 10px;
}

.poll {
    background-color: #eeeeee;
    padding: 2px;
    width: 175px;
    font-family: Comic Sans MS;
    font-size: small;
    color: #000000;
    box-shadow: 0px 0px 5px #888;
    background-image: url('https://images.boardhost.com/bg/clouds.gif');
    float: left;
}

.pet {
    position: fixed;
    bottom: 0;
    width: 100%;
}

article {
    width: 82%;
    float: right;
}

.hits {
    display: block ruby;
}
