@font-face {
    font-family: "notepad";
    src: url("assets/fonts/Notepen.woff") format('woff');
}

body {
    background-image: url("assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: notepad;
    color: white;
}

#wrapper {
    width: 50%;
    margin: 0 auto;
}

.website {
    width: 15%;
    background-color: #185a83c3;
    border: dotted 3px;
    border-radius: 15px;
    padding-left: 0.5vw;
    height: 250px;
}

h1 {
    text-align: right;
    font-size: 3rem;
}

a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

a:hover {
    font-size: 1.7rem;
    color: rgb(204, 173, 173);
    text-decoration: underline;
}


