body {
    font-family: Comic Sans MS;
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 2rem;
    width: 100%;
}

a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35vw;
}

.poll {
    position: relative;
    top: 25vh;
    left: -2vw;
    float: right;
}

.info {
    text-align: center;
    float: right;
    position: relative;
    top: -5vh;
    left: 8vw;
    background-color: grey;
}

.splash-text {
    position: relative;
    top: 10vh;
    left: 37vw;
}

@media screen and (max-width: 600px) {
    .updates {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .poll {
        position: relative;
        top:  55vh;
        left: -14vw;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        position: relative;
        top: -10vh;
        left: -30vw;
    }
    
    .logo img {
        width: 280%;
    }
    
    .splash-text p {
        position: relative;
        top: -20vh;
        left: -35vw;
    }
}
