body {
    font-family: Comic Sans MS;
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 2rem;
    width: 90%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35vw;
}

.poll {
    position: relative;
    top: 15vh;
    float: right;
}

p {
    font-size: 1rem;
}

a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .updates {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .poll {
        position: relative;
        top:  55vh;
        left: -14vw;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        position: relative;
        top: -10vh;
        left: -30vw;
    }
    
    .logo img {
        width: 280%;
    }
    
    .splash-text p {
        position: relative;
        top: -20vh;
        left: -35vw;
    }
}

.splash-text {
    position: relative;
    top: -30vh;
    left: 34vw;
}

.gif-of-the-week {
    background-color: rgba(110, 99, 144, 0.8);
    max-width: 15vw;
    margin: 0 auto;
    position: relative;
    top: 30vh;
    left: -40vw;
}

.gif-of-the-week img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.gif-of-the-week h1 {
    text-align: center;
    font-size: 1.5rem;
}
