@import url(main.css);

.message {
    padding: 5px 0;
}
.message .member {
    display: inline-block;
}
.message-form__button {
    margin: 10px;
}

.members-count,
.members-list,
.messages {
    padding: 15px;
    margin-bottom: 15px;
    max-height: 30vw;
}

.messages {
    flex-shrink: 1;
    overflow: auto;
    height: 30vh;
}

.member {
    padding-right: 10px;
    position: relative;
}

.message-form {
    display: flex;
    flex-shrink: 0;
}

.message-form__input {
    flex-grow: 1;
    padding: 10px 15px;
    font-size: 16px;
}

.member,
.members-count,
.message {
    border: none;
}
