body {
    overflow: hidden;
    margin: 0;
}
.follow {
    background-color: #bbd8bb;
    border: 1px solid #95b695;
    border-radius: 2px;
    color: #2c462c;
    padding: 2px 10px;
    cursor: pointer;
    font-family: "MS UI Gothic", Verdana, sans-serif;
    font-size: 13px;
    margin: 0 auto;
    display: block;
}