html,
body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: var(--text-clr);
    font-size: 1rem;
    line-height: 2rem !important;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    text-transform: lowercase;
}

a {
    color: var(--link-clr);
    text-decoration: none;
}

a:hover {
    text-decoration: underline 1px;
    font-size: 1.1rem;
    background-color: var(--sel-clr);
    border-radius: 5px;
    font-family: monospace
}

main p {
    width: 40%;
}

p { margin: 0.5rem }

p::selection,
a::selection,
h1::selection,
h2::selection {
    background-color: var(--sel-clr);
}
h1,
h2,
h3 {
    color: var(--head-clr);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: italic;
}
