html,
body {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    color: var(--text-clr);
    font-size: 1rem;
    line-height: 2rem !important;
    text-shadow: 1px 1px 4px rgb(144, 140, 170);
    text-transform: lowercase;
}

a {
    color: var(--link-clr);
    text-decoration: none;
}

a:hover {
    text-decoration: underline 1px;
    font-size: 0.85rem !important;
    background-color: var(--sel-clr);
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
}

h2 {
    margin: 0;
}

h1:hover a {
    font-size: 2rem !important;
    font-family: "Times New Roman", Times, serif
}

main p {
    width: 40%;
    margin: 0.5rem;
}

p::selection,
a::selection,
h1::selection,
h2::selection {
    background-color: var(--sel-clr);
}
h1,
h2,
h3 {
    color: var(--head-clr);
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
    font-style: italic;
}
