@import url(main.css);
@import url(lfm.css);

#navelements {
    display: none;
}
.show {
    display: block !important;
}
.invert {
    -webkit-transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    transform: scale(-1, -1);
}