@import url(main.css);
@import url(lfm.css);

#navelements {
    display: none;
}
.show {
    display: block !important;
}

.poll {
    background-color: #26233a; 
    padding: 2px; 
    width: 135px; 
    font-size: small; 
    color: #e0def4; 
    box-shadow: 0px 0px 5px #888;
}

.poll-head {
    padding: 2px 0px 4px 2px;
}

.clear {
    clear: both; 
    height: 2px;
}

.submit {
    padding: 3px;
}

label {
    float: left; 
    width: 110px;
}

input {
    float: left;
}


