@import url(vars.css);
@import url(fonts.css);

html {
    background-color: var(--bkg-color);
}

main {
    width: 40%;
    background-color: var(--main-bkg);
    border: 0.2rem var(--border-color) solid;
    margin: auto;
    width: 50%;
    filter: drop-shadow(var(--drop-shadow) var(--drop-shadow) var(--border-color));
    padding: var(--padding);
}