@import url(vars.css);
@import url(fonts.css);

html {
    background-color: var(--bkg-color);
}

main {
    width: 70%;
    background-color: var(--main-bkg);
    border: 0.2rem var(--border-color) solid;
    margin: auto;
    filter: drop-shadow(var(--drop-shadow) var(--drop-shadow) var(--border-color));
}

article {
    padding: var(--padding)
}

header {
    background-color: #26233a;
    padding: var(--padding) !important;
    margin: 0;
    text-align: center;
}