html, main {
    background-color: #191724;
    color: #e0def4;
    font-family: MS Gothic, monospace;
    font-size: 0.9rem;
}

h1 {
    font-style: italic;
}

main {
    text-align: center;
}

hr {
    width: 45%;
}

a {
    color: #9ccfd8;
}