@import url(vars.css);
@import url(fonts.css);

html,
main,
body {
    background-color: var(--bkg-clr);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-rendering:optimizeSpeed;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

hr {
    width: 40%;
    margin: 1.2rem;
}

.clouds {
    position: absolute;
    top: -10rem;
    width: 100%;
    pointer-events: none;
}

.cornerling {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 25vh;
}
