@import url(vars.css);
@import url(fonts.css);

html {
    background-color: var(--bkg-color);
}

main {
    width: var(--site-width);
    background-color: var(--main-bkg);
    border: var(--border) var(--border-color) solid;
    margin: auto;
    filter: drop-shadow(var(--drop-shadow) var(--drop-shadow) var(--border-color));
}

article {
    padding: var(--padding);
}

aside {
    padding: var(--padding);
    text-align: center;
    width: var(--aside-width);
    padding-right: 0px;
}

box {
    display: flex;
    flex-direction: row;
}

header, footer {
    background-color: var(--header-color);
    padding: var(--padding) !important;
    margin: 0;
}

hr {
    border-style: dashed;
    margin: 10px;
}

img {
    max-width: 50%;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}