@import url(vars.css);
@import url(fonts.css);

html {
    background-color: var(--bkg-color);
}

main {
    width: 50%;
    background-color: var(--main-bkg);
    border: 0.2rem var(--border-color) solid;
    margin: auto;
    filter: drop-shadow(var(--drop-shadow) var(--drop-shadow) var(--border-color));
}

article {
    padding: var(--padding);
    padding-left: 0px;
}

aside {
    padding: var(--padding);
    text-align: center;
    width: 40%;
}

box {
    display: flex;
    flex-direction: row;
}

header {
    background-color: #26233a;
    padding: var(--padding) !important;
    margin: 0;
}