@import url(vars.css);

html {
    background-color: var(--bkg-color);
    color: var(--font-color);
    font-family: MS Gothic, monospace;
    font-size: var(--font-size);
}

main {
    width: 40%;
    background-color: var(--main-bkg);
    border: 0.2rem var(--border-color) solid;
    margin: auto;
    width: 50%;
    filter: drop-shadow(var(--drop-shadow) var(--drop-shadow) var(--border-color));
    padding: var(--padding);
}

h1 {
    font-style: italic;
    margin: 0;
}

main {
    text-align: center;
}

a {
    color: var(--link-color);
}