@import url(vars.css);
@import url(fonts.css);

html {
    background-color: var(--bkg-color);
}

main {
    width: var(--site-width);
    background-color: var(--main-bkg);
    border: var(--border) var(--border-color) solid;
    margin: auto;
    filter: drop-shadow(var(--drop-shadow) var(--drop-shadow) var(--border-color));
}

article {
    padding: var(--padding);
    padding-left: 0px;
}

aside {
    padding: var(--padding);
    text-align: center;
    width: var(--aside-width);
}

box {
    display: flex;
    flex-direction: row;
}

header {
    background-color: var(--header-color);
    padding: var(--padding) !important;
    margin: 0;
}


ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}