body {
    font-family: Comic Sans MS;
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 2rem;
    width: 90%;
}

a {
    color: white;
    text-decoration: none;
}

section {
    background-color: grey;
    padding: 10px;
}
